<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <thead>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Age</th>
    </thead>
    <tbody>
    <tr th:each = "user : ${usersList}">
        <td class="align-middle" th:text="${user.name}"></td>
        <td class="align-middle" th:text="${user.surname}"></td>
        <td class="align-middle" th:text="${user.email}"></td>
        <td class="align-middle" th:text="${user.age}"></td>
    </tbody>


</table>

</body>
</html>